body {
  font-family: 'Roboto', sans-serif;
}


h1 {
  text-align: center;
}
#container {
  display: flex;
  border: 10px solid rgb(122, 122, 169);
  width: 700px;
  height: 500px;
  margin: 0 auto;
  background-color: white;

}


#container:hover {
  cursor: crosshair;
}
.item {
border: .1px solid black;
display: flex;
height: 100%;
width: 100%;
overflow: hidden;
}

.column {
height: 100%;
width: 100%;
display: grid;
}




.hover {
  background-color: black;

}

.gridSizing {
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}


button {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  margin-top: 15px;
  width: 30%;
  height: 15%;
  padding: 5px;
  margin: 5px;

}

button:hover {
  background-color: rgba(228, 226, 226, 0.643);
  transform: scale(110%);
}

fieldset {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  width: 32%;
}

input[type=color]{
  margin-top: 10px;
  width: 30%;
}

